@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffd695;
  --color-secondary: #fff0d8;
  --color-accent: #ffe5bc;
  --color-dark: #000;
  --color-light: #ffffff;
  --color-overlay: rgba(0, 0, 0, 0.5);
}
